fastapi
uvicorn
pdfplumber
python-docx
python-multipart
requests
gspread
google-auth
google-api-python-client==2.116.0
google-auth==2.28.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

